.mega-drop {
  position: static !important;
}
.dropdown{
  position: relative;
}
.mega-drop::after,
.dropdown::after,
.dropdown .dropdown::after {
  content: "";
  display: flex;
  width: 12px;
  height: 12px;
  cursor: pointer;
  margin-top: -3px;
}
.mega-drop::after,
.dropdown::after {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 18.286' width='16' height='18.286'%3E%3Cpath d='M7.193 13.379a1.146 1.146 0 0 0 1.618 0l5.714-5.714a1.145 1.145 0 0 0-1.618-1.618L8 10.954 3.093 6.05a1.145 1.145 0 0 0-1.618 1.618l5.714 5.714z'/%3E%3C/svg%3E") no-repeat;
  transition: var(--transition);
  background-size: contain;
}
.mega-drop >.mega-menu-cont,
.dropdown > ul {
  background-color: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: all 0.3s;
}

.mega-drop >.mega-menu-cont{
  padding: 30px;
}

.dropdown > ul {
  padding: 20px;
}

.mega-drop .mega-menu-cont,
.dropdown ul {
  visibility: hidden;
  position: absolute;
  margin: auto;
  z-index: 99;
  transform-origin: top;
  transform: scale(0);
  padding-block: 16px;
  max-width: 1120px;
  border-radius: 4px;
}
.dropdown ul .dropdown ul {
  position: absolute;
  left: calc(100% + 40px);
  top: 10px;
}

.row-gap{
  row-gap: 30px;
}
header ul .dropdown ul {
  display: block;
  left: -50px;
  top: 60px;
  width: 200px;
}
.mega-menu-cont .h6{
  font-size: 17px;
  margin-bottom: 0 !important;
}
.dropdown ul li,
:is(.list-group, .mega-menu,) a {
    padding: 10px 0px;
    font-size: 16px;
}
:is(.list-group, .mega-menu,) a {
  display: block;
}
:is(.list-group, .mega-menu,) a:hover{
  color: var(--primary-color);
}

:is(.list-group, .mega-menu,.card-body) a::after{
  display: none;
}
.mega-menu a {
  width: 50%;
  float: left;

}

@media (min-width: 1025px) {
  .mega-drop,
  .dropdown {
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: space-between;
  }

  .mega-drop >.mega-menu-cont,
  .dropdown > ul {
    left: 0px;
    top: 70px;
    right: 0;
  }
  .mega-drop:hover >.mega-menu-cont,
  .dropdown:hover > ul {
    transform: scaleY(1);
    visibility: visible;
    opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
  .mega-drop {
    position: relative !important;
  }
  .mega-drop::after,
  .dropdown::after {
    position: absolute;
    top: 16px;
    right: 0px;
  }
  .show-dropdown>.mega-menu-cont,
  .show-dropdown>ul{
    visibility: visible;
    opacity: 1;
    transform:scale(1);
    margin-top: 20px;
  }

  header ul .dropdown ul {
    display: block;
    left: 0px;
    top: 60px;
    width:100%;
}
.dropdown .show-dropdown > ul{
  position: unset !important;
}
.show-ul {
  overflow: auto;
  height: 100vh;

}
.dropdown {
  display: block;
  position: relative;
}
}

